@import "../../../styles/vars/variables.scss";
@import "../../../styles/mixins/mediaBreakpoints.scss";
@import "../../../styles/vars/colors.scss";

@include desctop() {
  .header {
    max-width: 100%;
    margin-top: 19px;

    & .header-body {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 21px;
      border-bottom: 1px solid var(--colorLine);
    }

    & .header-logo {
      width: 100%;
      max-width: 680px;
      display: flex;
      column-gap: 51px;

      & .header-logoDescription {
        color: var(--textColor);
        font-size: 1rem;
        line-height: 180%;
        text-transform: uppercase;
        max-width: 227px;
        white-space: wrap;
      }
      & .header-image {
        cursor: pointer;
      }

      & .header-image:hover {
        transform: scale(103%);
      }
    }

    & .navigation,
    .contacts {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-right: 72px;
      cursor: pointer;

      & .contacts--margin {
        margin-right: 113px;
      }

      & .navigation-item,
      .contacts-item {
        font-family: "Inter-500";
        color: var(--textColor);
        line-height: 140%;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    & .navigation-item:hover,
    .contacts-item:hover {
      text-decoration: underline;
      color: var(--blueLink);
    }

    & .profile {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      & .profile-avatar {
        width: 48px;
        height: 48px;
        object-fit: cover;
        cursor: pointer;
      }

      & .profile-avatar:hover {
        transform: scale(103%);
      }

      & .profile-text {
        font-family: "Inter-500";
        color: var(--textColor);
        line-height: 140%;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .burger {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}

@include tablet() {
  .header {
    max-width: 100%;
    margin-top: 19px;

    & .header-body {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 21px;
      border-bottom: 1px solid var(--colorLine);
    }

    & .header-logo {
      width: 100%;
      max-width: 680px;
      display: flex;
      column-gap: 51px;

      & .header-logoDescription {
        color: var(--textColor);
        font-size: 1rem;
        line-height: 180%;
        text-transform: uppercase;
        max-width: 227px;
        white-space: wrap;
      }
      & .header-image {
        cursor: pointer;
      }

      & .header-image:hover {
        transform: scale(103%);
      }
    }

    & .navigation,
    .contacts {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-right: 72px;
      cursor: pointer;

      & .contacts--margin {
        margin-right: 113px;
      }

      & .navigation-item,
      .contacts-item {
        font-family: "Inter-500";
        color: var(--textColor);
        line-height: 140%;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    & .navigation-item:hover,
    .contacts-item:hover {
      text-decoration: underline;
      color: var(--blueLink);
    }

    & .profile {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      & .profile-avatar {
        width: 48px;
        height: 48px;
        object-fit: cover;
        cursor: pointer;
      }

      & .profile-avatar:hover {
        transform: scale(103%);
      }

      & .profile-text {
        font-family: "Inter-500";
        color: var(--textColor);
        line-height: 140%;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .burger {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}

@include mobile() {
  .header {
    max-width: 100%;
    margin-top: 19px;
    position: relative;

    & .header-body {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 21px;
      border-bottom: 1px solid var(--colorLine);
      column-gap: 18px;
    }

    & .header-logo {
      width: 100%;
      max-width: 233px;
      display: flex;
      column-gap: 24px;

      & .header-logoDescription {
        color: var(--textColor);
        font-size: 12px;
        line-height: 120%;
        text-transform: uppercase;
        max-width: 171px;
        white-space: wrap;
      }
      & .header-image {
        width: 38px;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
      }

      & .header-image:hover {
        transform: scale(103%);
      }
    }

    & .navigation,
    .contacts {
      display: none;
      flex-direction: column;
      row-gap: 10px;
      margin-right: 72px;
      cursor: pointer;

      & .contacts--margin {
        margin-right: 113px;
      }

      & .navigation-item,
      .contacts-item {
        font-family: "Inter-500";
        color: var(--textColor);
        line-height: 140%;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    & .navigation-item:hover,
    .contacts-item:hover {
      text-decoration: underline;
      color: var(--blueLink);
    }

    & .profile {
      display: none;
      flex-direction: column;
      row-gap: 16px;

      & .profile-avatar {
        width: 48px;
        height: 48px;
        object-fit: cover;
        cursor: pointer;
      }

      & .profile-avatar:hover {
        transform: scale(103%);
      }

      & .profile-text {
        font-family: "Inter-500";
        color: var(--textColor);
        line-height: 140%;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .burger {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid var(--colorLine);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    padding: 8px;
    cursor: pointer;

    & .burger-line {
      display: block;
      width: 24px;
      height: 1px;
      color: var(--black);
      border: 1px solid var(--black);
      transition: transform 0.2s ease-in-out;
    }

    & .burger--upperLine {
      display: none;
    }

    & .burger--middleLine {
      position: absolute;
      top: 50%;
      left: 8px;
      margin: auto;
      display: block;
      width: 24px;
      height: 1px;
      color: var(--black);
      border: 1px solid var(--black);
      transition: transform 0.2s ease-in-out;
      transform: rotate(45deg);
    }

    & .burger--lowerLine {
      position: absolute;
      top: 50%;
      left: 8px;
      margin: auto;
      display: block;
      width: 24px;
      height: 1px;
      color: var(--black);
      border: 1px solid var(--black);
      transition: transform 0.2s ease-in-out;
      transform: rotate(-45deg);
    }
  }

   .mobileMenu {
    margin-left: 0;
    width: 100%;
    background: var(--white);
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    animation: none;
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeIn;
   
    & .mobileNavigation {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      padding-bottom: 86px;
      border-bottom: 1px solid var(--colorLine);

      & .mobileNavigation-link-wrapper {
        display: flex;
        align-items: center;
        column-gap: 13px;
      }

      & .mobileNavigation-link {
        color: var(--textColor);
        font-family: "Inter-600";
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 140%;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
      }
    }

    & .mobileMenu-contacts {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding-top: 40px;

      & .mobileMenu-contacts-link {
        color: var(--textColor);
        font-size: 0.875rem;
        font-family: "Inter-500";
        line-height: 140%;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .mobileMenuOff {
    margin-left: -500px;
    width: 100%;
    background: var(--white);
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    animation: none;
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeOut;
    animation-timing-function: linear;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

    .mobileMenu {
    position: absolute;
    top: 48px;
    left: 0;
  }
}
