:root {
  --white: #fff;
  --mainBG: rgb(229, 229, 229);
  --colorLine: rgba(23, 26, 30, 0.1);
  --menuItem: rgba(23, 26, 30, 0.3);
  --textColor: rgb(23, 26, 30);
  --textColorLight: rgba(23, 26, 30, 0.6);
  --black: #000;
  --blueLink: rgb(47, 47, 156);
}
