@import "@/vars/colors.scss";
@import "@/vars/variables.scss";
@import "@/mixins/mediaBreakpoints.scss";

.auth {
  width: 552px;
  display: flex;
  padding: 24px 48px;
  background: var(--white);
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3001;
  border: 1px solid var(--colorLine);

  .MuiInputBase-input {
    color: var(--textColorLight) !important;
    padding: 24px 0 !important;
   }

.MuiInputBase-input::placeholder {
  text-transform: uppercase !important;
  color: var(--textColorLight) !important;
}
  
  &__body {
    width: 100%;
    max-width: 454px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__cross {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__cross:hover {
    transform: scale(120%);
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 32px;
    font-size: 2rem;
  }

  &__header-enter-active {
    display: flex;
    column-gap: 16px;
    align-items: center;
    cursor: pointer;
    line-height: 1.6;
    border-bottom: 1px solid;
  }

  &__header-enter-passive {
    color: var(--textColorLight);
    cursor: pointer;
  }

  &__header-slash {
    font-size: 2rem;
  }

  &__input-password {
    position: relative;
    margin-bottom: 17px;
  }

  &__eye {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__forgot-password {
    display: flex;
    justify-content: flex-end;
    color: var(--textColor);
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 60px;
    cursor: pointer;
  }

  &__forgot-password:hover {
    text-decoration: underline;
  }
}

//material-ui-------------------------------------
