@import "./vars/colors.scss";
@import "./mixins/mediaBreakpoints.scss";
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter-400";
  font-size: 0.875rem;
  background: var(--white);
}

@include desctop {
  .container {
    max-width: 1248px;
    padding: 0 96px;
    margin: 0 auto;
    box-sizing: content-box;
}
}
@include tablet {
  .container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
}
@include mobile {
  .container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
}
