@import "./vars/colors.scss";
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter-400";
  font-size: 0.875rem;
  background: var(--white);
}
.container {
    max-width: 1248px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}