@import "@vars/variables.scss";
@import "@mixins/mediaBreakpoints.scss";
@import "@vars/colors.scss";

.cabinet {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 36px 0 100px;
  position: relative;
 
  &__blur {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 850px;
    height: 550px;
    z-index: -1;
  }
}

.cabinet-content {
  display: grid;
  grid-template-columns: minmax(31.7%, 396px) minmax(40.14%, 1fr);
  column-gap: 11%;
}

.cabinet-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 32px;
  border: 1px solid var(--colorLine);

  &__item,
  &__item_passive {
    display: flex;
    align-items: center;
    column-gap: 18px;
    font-size: 1.125rem;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  &__item_passive {
    color: var(--menuItem);
  }
}

.my-data {
  display: flex;
  flex-direction: column;
   
  &__title {
    margin-bottom: 40px;
  }
}

.my-data-form {
 
  .MuiInputBase-input {
    padding: 15px 0 15px 0px !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    line-height: 1.4 !important;
    text-transform: uppercase;
    border-bottom: 1px solid var(--colorLine) !important;
    padding-left: 40px !important;
  }

  .css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
    border-bottom: 1px solid var(--colorLine) !important;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1001;
  }

  &__button {
    margin-top: 40px;
    width: 100%;
    max-width: 285px;
  }
}

.future-photo {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  }

.future-photo-item-wrapper {
  display: flex;
  flex-direction: column;
}

.future-photo-item:first-child {
  padding-top: 0;
  border-bottom: 1px solid var(--colorLine);
}

.future-photo-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.future-photo-item {
  display: grid;
  grid-template-columns: minmax(auto, 396px) minmax(auto, 1fr);
  column-gap: 132px;
  padding: 16px 0;
  align-items: flex-start;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: var(--black);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 8px;
  }

  &__location {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 4px;
  }

  &__time,
  &__time-days,
  &__time-hours {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__time-days,
  &__time-hours {
    column-gap: 12px;
  }

  p {
    font-weight: 400;
    line-height: 1.6;
  }
}


.action-line {
  display: flex;
  align-items: center;
  column-gap: 8px;

  p {
    font-size: 0.75rem;
    font-weight: 600 !important;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
  }

  p:hover {
    text-decoration: underline;
    color: var(--black);
    transform: scale(101%);
  }
}

.lasted-photo-item__actions {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}


