@import "../../../../styles/vars/colors.scss";
@import "../../../../styles/vars/variables.scss";
@import "../../../../styles/mixins/mediaBreakpoints.scss";

@include desctop() {
  .aboutProject {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    & .aboutProject-header {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 104px;
      margin-bottom: 60px;

      & .aboutProject-header__title {
        color: var(--textColor);
        font-family: "Inter-600";
        font-size: 2rem;
        line-height: 140%;
        text-transform: uppercase;
      }

      & .aboutProject-header__description {
        color: var(--textColor);
        font-family: "Inter-400";
        font-size: 1rem;
        line-height: 160%;
        max-width: 715px;
      }
    }

    .aboutProject-features {
      width: 100%;
      display: grid;
      grid-template-columns:
        minmax(auto, 252px) minmax(auto, 252px) minmax(auto, 252px)
        minmax(auto, 252px);
      column-gap: 80px;
      justify-content: space-between;
      padding-bottom: 100px;
      border-bottom: 1px solid var(--colorLine);

      & .aboutProject-features-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        & .features-item__icon {
          width: 56px;
          height: 56px;
        }

        & .features-item__info {
          display: flex;
          flex-direction: column;
          row-gap: 8px;

          .features-item__title {
            color: var(--textColor);
            font-family: "Inter-600";
            font-size: 1.125rem;
            line-height: 140%;
            text-transform: uppercase;
            margin-bottom: 8px;
          }

          .features-item__text {
            color: var(--textColor);
            font-family: "Inter-400";
            font-size: 1rem;
            line-height: 160%;
            }
        }
      }
    }

    .aboutProjectStatistics {
      width: 100%;
      padding-top: 61px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 24px;

      .statistics-item {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .statistics-item__title {
          color: var(--textColor);
          font-family: "Inter-600";
          font-size: 3rem;
          line-height: 140%;
          text-transform: uppercase;
        }

        
        .statistics-item__info {
          color: var(--textColor);
          font-family: "Inter-600";
          font-size: 0.875rem;
          line-height: 140%;
          text-transform: uppercase;
          max-width: 70%;
        }
      }
    }

    .blur {
      position: absolute;
      left: -450px;
      top: 0%;
      z-index: -1;
      width: 992px;
      height: 954px;
    }
  }
}

@include tablet() {
  .aboutProject {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    & .aboutProject-header {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 104px;
      margin-bottom: 60px;
      column-gap: 32px;

      & .aboutProject-header__title {
        color: var(--textColor);
        font-family: "Inter-600";
        font-size: 2rem;
        line-height: 140%;
        text-transform: uppercase;
        }

      & .aboutProject-header__description {
        color: var(--textColor);
        font-family: "Inter-400";
        font-size: 1rem;
        line-height: 160%;
        max-width: 50%;
      }
    }

    .aboutProject-features {
      width: 100%;
      display: grid;
      grid-template-columns:
        minmax(auto, 252px) minmax(auto, 252px);
      column-gap: 32px;
      row-gap: 32px;
      justify-content: space-between;
      padding-bottom: 100px;
      border-bottom: 1px solid var(--colorLine);

      & .aboutProject-features-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        & .features-item__icon {
          width: 56px;
          height: 56px;
        }

        & .features-item__info {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 8px;

          .features-item__title {
            color: var(--textColor);
            font-family: "Inter-600";
            font-size: 1.125rem;
            line-height: 140%;
            text-transform: uppercase;
            margin-bottom: 8px;
          }

          .features-item__text {
            color: var(--textColor);
            font-family: "Inter-400";
            font-size: 1rem;
            line-height: 160%;
            text-align: center;
            }
        }
      }
    }

    .aboutProjectStatistics {
      width: 100%;
      padding-top: 61px;
      display: grid;
      grid-template-columns: repeat(3,auto);
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 32px;
      row-gap: 32px;

      .statistics-item {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .statistics-item__title {
          color: var(--textColor);
          font-family: "Inter-600";
          font-size: 3rem;
          line-height: 140%;
          text-transform: uppercase;
        }

        
        .statistics-item__info {
          color: var(--textColor);
          font-family: "Inter-600";
          font-size: 0.875rem;
          line-height: 140%;
          text-transform: uppercase;
          max-width: 70%;
        }
      }
    }

    .blur {
      position: absolute;
      left: -450px;
      top: 0%;
      z-index: -1;
      width: 992px;
      height: 954px;
    }
  }
}
@include mobile() {
  .aboutProject {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

      & .aboutProject-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 16px;
      margin-top: 40px;
      margin-bottom: 40px;
      z-index: 11;
     
      & .aboutProject-header__title {
        color: var(--textColor);
        font-family: "Inter-600";
        font-size: 1.5rem;
        line-height: 140%;
        text-transform: uppercase;
        }

      & .aboutProject-header__description {
        color: var(--textColor);
        font-family: "Inter-400";
        font-size: 0.875rem;
        line-height: 160%;
        max-width: 100%;
      }
    }

    .aboutProject-features {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      justify-content: space-between;
      padding-bottom: 40px;
      border-bottom: 1px solid var(--colorLine);
      z-index: 12;

      & .aboutProject-features-item {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 24px;

        & .features-item__icon {
          width: 56px;
          height: 56px;
        }

        & .features-item__info {
          display: flex;
          flex-direction: column;
          row-gap: 8px;

          .features-item__title {
            color: var(--textColor);
            font-family: "Inter-600";
            font-size: 1.125rem;
            line-height: 140%;
            text-transform: uppercase;
            margin-bottom: 8px;
          }

          .features-item__text {
            color: var(--textColor);
            font-family: "Inter-400";
            font-size: 1rem;
            line-height: 160%;
            }
        }
      }
    }

    .aboutProjectStatistics {
      width: 100%;
      padding-top: 61px;
      display: grid;
      grid-template-columns: repeat(2,auto);
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 60px;
      row-gap: 32px;

      .statistics-item {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .statistics-item__title {
          color: var(--textColor);
          font-family: "Inter-600";
          font-size: 2rem;
          line-height: 140%;
          text-transform: uppercase;
        }

        
        .statistics-item__info {
          color: var(--textColor);
          font-family: "Inter-600";
          font-size: 0.875rem;
          line-height: 140%;
          text-transform: uppercase;
          max-width: 70%;
        }
      }
    }

    .blur {
      position: absolute;
      left: -450px;
      top: 0%;
      z-index: -1;
      width: 992px;
      height: 954px;
      opacity: 0.4;
    }
  }
}
