@import "@vars/colors.scss";
@import "@vars/variables.scss";
@import "@mixins/mediaBreakpoints.scss";

.button {
  width: 100%;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  color: var(--textColor);
  font-family: "Inter";
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid var(--textColor);
  cursor: pointer;
}

.button:hover {
  border: none;
  transition: all 0.1s ease-in-out;
} 

@mixin tablet() {
  .button {
    width: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    color: var(--textColor);
    font-family: "Inter";
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid var(--textColor);
    cursor: pointer;
  }

  .button:hover {
    border: none;
    transition: all 0.1s ease-in-out;
    } 
}

@mixin mobile() {
  .button {
    width: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    color: var(--textColor);
    font-family: "Inter";
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid var(--textColor);
    cursor: pointer;
    }

  .button:hover {
    border: none;
    transition: all 0.1s ease-in-out;
    } 
}
