@import "@vars/colors.scss";
@import "@vars/variables.scss";
@import "@mixins/mediaBreakpoints.scss";

.price {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 20px 112px 20px 27px;
  border: 1px solid var(--colorLine);
  margin-top: 45px;

  .price-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__time {
      color: var(--lightColor);
      font-size: 0.875;
      font-weight: 500;
      line-height: 160%;
    }

    &__price {
      color: var(--textColor);
      font-size: 0.875;
      font-weight: 700;
      line-height: 160%;
      display: block;
      text-align: left;
      }

      &__dots {
      content: "";
      color: transparent;
      flex: 1;
      border-bottom: 1px dotted var(--lightColor); 
      margin: 0 10px; 
    }
  }
}
